.ani1{
     /* width: 100px; 
     height: 100px;
     background: red; 
     transition: width 2s; */
 width: 100px;
 height: 200px;

 background-color: green;
 transition: 2s linear;
}
.ani2{
    width: 20px;
 height: 40px;

 background-color:black;
 transition: 4s linear; 
}